<!DOCTYPE html>
<html>
<head>
  <title>청년참</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="reset.css"/>
  <link rel="stylesheet" href="main.css"/>
  <link rel="stylesheet" href="detail.css"/>
</head>
<body>
<%= erb :header %>
<p>관리자페이지입니다.</p>
<ul>
  <li>
    이메일,커뮤니티,닉네임,패스워드계정삭제
  </li>
</ul>
<ul>
  <li>
    <% @users.each do |x| %>
        <%= x.user_email %>,
        <%= x.c_name %>,
        <%= x.n_name %>,
        <%= x.user_password %>,
        <a href="/user_delete/<%= x.id %>">[x]</a>
        <br>
    <% end %>
  </li>
</ul>
<!-- 일상 알림판 -->
<p>일상 알림</p>
<form action="/add_notice_post" method="POST">
  <p>글 제목을 적어주세요 <input type="text" name="post_title" size=70 maxlength=30></p>

  <p>글 내용을 적어주세요 <textarea name="post_body" cols="70" rows="4"></textarea></p>

  <p>이미지링크 <input type="text" name="post_image" size="70"/></p>
  <input type="submit" value="글 등록하기">
</form>

<!-- 예산 알림판 -->
<p>예산 알림</p>
<form action="/add_budget_post" method="POST">
  <p>글 제목을 적어주세요 <input type="text" name="post_title" size=70 maxlength=30></p>

  <p>글 내용을 적어주세요 <textarea name="post_body" cols="70" rows="4"></textarea></p>

  <p>이미지링크 <input type="text" name="post_image" size="70"/></p>
  <input type="submit" value="글 등록하기">
</form>

<!-- 커뮤니티 등록 -->
<p>커뮤니티</p>
<form action="/add_community_post" method="POST">
  <p>글 제목을 적어주세요 <input type="text" name="post_title" size=70 maxlength=30></p>

  <p>글 서브을 적어주세요 <input type="text" name="post_sub_title" size=70 maxlength=30></p>

  <p>글 내용을 적어주세요 <textarea name="post_body" cols="70" rows="4"></textarea></p>

  <p>이미지링크 <input type="text" name="post_image" size="70"/></p>

  <input type="submit" value="글 등록하기">
</form>

<%= erb :footer %>

</body>
</html>