<!DOCTYPE html>
<html>
<head>
  <title>청년참</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="reset.css"/>
  <link rel="stylesheet" href="main.css"/>
  <link rel="stylesheet" href="detail.css"/>
</head>
<body class="bg-gray">
<%= erb :header %>
<section class="section">
  <div class="container">
    <h1 class="section-site-title"><p><img src="http://imageshack.com/a/img537/8910/AmKNrM.png"></p>예산공간</h1>
  </div>
</section>

<% @budgets.each do |p| %>
    <section class="section">
      <ul class="list-stripes">
        <li id="how-do-i-apply">
          <div class="container">
            <div class="row">
              <a href="/budget_detail/<%= p.id %>">
                <div class="col-sm-4 left-side">
                  <h4 class="title question"><img src="<%= p.image_src %>" width="100%"></h4>
                </div>
                <div class="col-sm-8 user-content"><p><%= p.created_at.strftime("%Y-%m-%d") %></p>
                  <h2><%= p.title %></h2>
                  <p><%= p.body %></p>
                </div>
              </a>
            </div>
          </div>
        </li>
      </ul>
    </section>
    <hr>
<% end %>
<%= erb :footer %>
</body>
</html>
