<!DOCTYPE html>
<html>
<head>
  <title>청년참</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="../reset.css"/>
  <link rel="stylesheet" type="text/css" href="../main.css"/>
  <link rel="stylesheet" type="text/css" href="../detail.css"/>

</head>
<body>

<%= erb :header %>

<div class="row" style="margin-top:100px;margin-bottom:100px;">
  <div class="col-md-6 col-md-offset-3">
    <div>
      <p><img src="<%= @chat.image_src %>"></p>

      <p><%= @chat.title %></p>
      <p><%= @chat.user_id %></p>
      <p><%= @chat.body %></p>
    </div>

    <p>
      <% @comments.each do |c| %>
        <p>
          <% u = User.first(:id => c.user_id) %>
          <% if !u.nil? %>
              <%= u.c_name %>, <%= u.n_name %> :
          <% end %>
          <%= c.content %>, <%= u.created_at.strftime("%Y-%m-%d") %></p>
    <% end %>
    </p>
    <% if (!@user.nil?) %>
        <p>

        <form action="/write_chat_comment" method="POST">
          <input name="post_id" type="hidden" value="<%= @chat.id %>">
          <input name="content" type="text" placeholder="댓글 내용을 입력해주세요">
          <input type="submit" value="등록">
        </form>
        </p>
    <% end %>

  </div>
</div>

<%= erb :footer %>

</body>
</html>