<!DOCTYPE html>
<html>
<head>
  <title>청년참</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="css/reset.css"/>
  <link rel="stylesheet" href="css/main.css"/>
  <link rel="stylesheet" href="css/detail.css"/>
  <link rel="icon" href="img/favicon.ico">

</head>
<body>
<%= erb :header %>

<section class="section bg-yellow">
  <div class="container ">
    <header>
      <h1 id="departments" class="section-title">전체보기</h1>

      <p><a class="btn btn-primary" href="http://youthhub.kr/project1#fbsection4" target="_blank">2014 | 2013</a></p>
      <% if !@user.nil? %>
          <% if (@user.admin==true) %>
              <p><a class="btn btn-primary" href="/add_community">커뮤니티 등록</a></p>
          <% end %>
      <% end %>
    </header>
  </div>
</section>
<section class="section bg-yellow section-departments">
  <div class="row multiline">
    <% @communitys.each do |p| %>
        <a class="col-md-4 col-sm-6 clearfix bg-white img-responsive">
          <div class="text-center col-sm-12">
            <h1><%= p.title %></h1>

            <p class="section-item-subtitle"><%= p.url %></p>

            <p class="section-item-subtitle">
              <<%= p.sub_title %>월><%= p.body %></p>
          </div>
        </a>
    <% end %>

  </div>
</section>

<%= erb :footer %>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="https://d3ahn172ndlj85.cloudfront.net/jobs/static/js/vendor/jquery-1.11.0.min.js"><\/script>')</script>
<script src="https://d3ahn172ndlj85.cloudfront.net/jobs/static/js/vendor/bootstrap.min.js"></script>
<script type="text/javascript" src="https://d3ahn172ndlj85.cloudfront.net/jobs/static/js/main.min.js"></script>

<script type="text/javascript">window._pageName = 'welcome';</script>
<script type="text/javascript" src="https://d3ahn172ndlj85.cloudfront.net/jobs/static/js/smooth-scroll.min.js"></script>

</body>
</html>
