<!DOCTYPE html>
<html>
<head>
  <title>청년참</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="css/reset.css"/>
  <link rel="stylesheet" href="css/main.css"/>
  <link rel="stylesheet" href="css/detail.css"/>
  <link rel="icon" href="img/favicon.ico">

</head>
<body class="bg-gray">
<%= erb :header %>

<section class="section section-departments">
  <div class="container">
    <header>
      <h1 id="departments" class="section-title">오픈 커뮤니티 데이</h1>
    </header>
  </div>
</section>

<% if !@user.nil? %>
    <p><a class="btn btn-primary" href="/add_day">글쓰기</a></p>
<% end %>

<section class="section section-departments">
  <div class="container space">
    <div class="row multiline">
      <% @days.each do |p| %>
          <a href="/day_detail/<%= p.id %>" class="col-md-4 col-sm-6 clearfix">
            <img src="<%= p.image_src %>" class="img-responsive">

            <div class="text-center col-sm-12">
              <h1><%= p.title %></h1>

              <p><%= p.sub_title %></p>

              <p>언제 <%= p.when %></p>

              <p>어디서 <%= p.where %></p>
            </div>
          </a>
      <% end %>
    </div>
  </div>
</section>

<%= erb :footer %>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="https://d3ahn172ndlj85.cloudfront.net/jobs/static/js/vendor/jquery-1.11.0.min.js"><\/script>')</script>
<script src="https://d3ahn172ndlj85.cloudfront.net/jobs/static/js/vendor/bootstrap.min.js"></script>
<script type="text/javascript" src="https://d3ahn172ndlj85.cloudfront.net/jobs/static/js/main.min.js"></script>

<script type="text/javascript">window._pageName = 'welcome';</script>
<script type="text/javascript" src="https://d3ahn172ndlj85.cloudfront.net/jobs/static/js/smooth-scroll.min.js"></script>

</body>
</html>
